#accounts-header {
    background-color: var(--dark);
    color: white;
    margin-top: 10px;
    margin-bottom: 0;
}

#accounts-header > button {
    font-size: 0.5rem;
}

/* Custom Card */
.Panel {
    max-height: calc(100vh - 70px); 
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    max-width:350px;
  }


/* Table Font Align */
.id-padding, #id-padding{
    text-align: center;
}

 #page-label{
      margin-top: 30px;
  }

  /* Flex Box */
  #page-container{
      display: flex !important;
      max-height: 100vh !important;
      max-width: 100vw !important;
      flex-direction: row !important;
      justify-content: center !important;
  }

  #card-container > *{
      flex-grow: 1 !important;
  }

  #title-space {
      margin-top: 30px;
  }

  .group-align{
    justify-content: flex-start !important;
    padding-left: 100px;
    padding-right: 500px;
  }

  #pending-container {
    flex-grow: 1;
}

#pending-container > *{
    width: auto !important;
}

#dashboard-container > *{
    width: auto !important;
}

