a:visited, a:link {
    color: inherit;
}

#navbar{
    background-color: #3f67a3;
}

.font-color{
    color: white !important;
}

#flexbox {
    display: flex !important;
    flex-direction: row !important;
}

#flex-left {
    flex-grow: 4;
}

#flex-right {
    flex-grow: 1 !important;
}