
/* Custom Card */
.Panel {
  max-height: calc(100vh - 70px); 
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
  max-width:350px;
}

#background {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

 /* Flex Box */
 .main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container{
  flex: 1 0 auto;
  min-height: calc(100vh - 70px);
  padding-top: 300px;
  padding-right: 0px;
  padding-bottom: 0;
  padding-left: 0p; 
  margin-left: auto;
  margin-right: 200px;
}

.width-container {
  min-width:300px;
}

.footer {
  flex-shrink: 0;
  padding: 20px;
}

.font-white {
  color: whitesmoke !important;
}
.font-black {
  color: rgb(15, 15, 15);
}

.font-grey {
  /* color: #A9A9A9; */
  color: rgb(170, 170, 170);
}

.font-blue {
  color: rgb(43, 126, 182);
}

.font-orange {
  color: #be8b50;
  /* color: #be8b50; */
}

.button-color {
  /* background-color: rgba(0, 0, 0, 0.527) !important;   */
  background-color: #eb8e24da !important;
  color: whitesmoke !important;
}